div {
    margin-bottom: 0px;
    margin-top: 0px;
}

p {
    font-family: Roboto, Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}
body{
    display: block;
    background-color: #f9f9f9;
    margin: 0;
    padding-top: 80px;
    padding-left: 96px ;
    padding-right: 25px;
}